doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    script(src="/javascripts/navDropdownChange.js" type="text/javascript")
    script(src="https://cdn.tiny.cloud/1/8tlqd1qk8e2uv706ejbnv235l7sbq9zebgrwx5feder6hbmp/tinymce/5/tinymce.min.js" referrerpolicy="origin")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    div(class='container-fluid px-2')
      div(class="row mt-3")
        div(class="col-sm-2")
          form(class="form-inline my-2 my-sm-0")
            select#subject(class='form-control selcls' type='select', name='subject' class="form-control form-control-sm" onchange="ChangeSelection(this);")
              option(value=1) &lt;search all subjects&gt;
              for subject in subject_list
                if subjectid
                  option(value=subject._id selected=(subject._id.toString()===subjectid.toString() ? 'selected' : false) ) #{subject.title}
                else 
                  option(value=subject._id) #{subject.title}
            // do not display topic list if subject is not selected. Although topic list is populated
            // so topics can be shown on notes list page, list of topics in this dropdown without a subject
            // is not appropriate.
            if subjectid != 1
              select#topic(class='form-control selcls' type='select', name='topic' class="form-control form-control-sm" onchange="ChangeSelection(this);")
                option(value=1) &lt;search all topics&gt;
                for topic in topic_list
                  if topicid
                    option(value=topic._id selected=(topic._id.toString()===topicid.toString() ? 'selected' : false) ) #{topic.title}
                  else 
                    option(value=topic._id) #{topic.title}
            // do not display subtopic list if topic is not selected. Although subtopic list is populated
            // so subtopics can be shown on notes list page, list of subtopics in this dropdown without a topic
            // is not appropriate.
            if topicid != 1
              select#subtopic(class='form-control selcls' type='select', name='subtopic' class="form-control form-control-sm" onchange="ChangeSelection(this);")
                option(value=1) &lt;search all subtopics&gt;
                for subtopic in subtopic_list
                  if subtopicid
                    option(value=subtopic._id selected=(subtopic._id.toString()===subtopicid.toString() ? 'selected' : false) ) #{subtopic.title}
                  else 
                    option(value=subtopic._id) #{subtopic.title}
          div(class="row mt-0 gx-0")
            div(class="col-sm-12")
              div(class="navbar-nav mr-auto")
                if (subjectid != '1')
                  div(class="dropdown")
                    a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Subject Material
                    div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                      - var prev_link_category = 0;
                      for link in link_list
                        if link.category != prev_link_category
                          if prev_link_category != 0
                            div(class="dropdown-divider")
                          p
                            b !{link.category}
                          - prev_link_category = link.category
                        a(class="dropdown-item" href=link.href target='_blank' role='button') !{link.title}
                if (subjectid != '1' && topicid != '1' && subtopicid != '1')
                  div(class="dropdown")
                    a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Description
                    div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                      for subtopic in subtopic_list
                        if subtopic._id.toString()===subtopicid.toString()
                          p !{subtopic.description}                       
          if (note_list && (subjectid != '1' && topicid != '1' && subtopicid != '1'))
            div(class="row mt-0 gx-0")
              a(class='btn btn-primary btn-sm btn-block' href='/' + subjectid + '/' + topicid + '/' + subtopicid + '/note/create' role='button') Create New Note
          div(class="row mt-3")
            div(class="col-sm-12")
              div(class="text-center")
                img(src=user.picture class="rounded-circle")
            div(class="col-sm-12")
              div(class="text-center")
                a(href="/logout") Log Out
        div(class="col-sm-10" id='form-div')
          div(class="row mt-0 gx-0")
            if errors
              for error in errors
                h1 Error: #{error}
          block content
    block foot
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")