extends layout

block content
  div.topbar
    | You have !{note_count} !{subject} notes
    <div class='topbar d'>
      - note_list.sort(function(a, b) {let textA = a.topic.toUpperCase(); let textB = b.topic.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      each note in note_list
        div
          a(href=note.url) #{note.topic}
        div #{note.date_formatted}

      else
        li There are no notes.