extends layout

block content
  <div class='topbar'>
    form(method='POST' action='')
      table(style='width:100%')
      tr
        td
          div.form-group
            <div class="form-row no-gutters">
              <div class="col">
                label(for='subject' class="col-sm-2 col-form-label") Subject:
              </div>
              <div class="col">
                select#subject.form-control(type='select', placeholder='Select subject' name='subject' required='true', class="form-control form-control-sm")
                  - subjects.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
                  for subject in subjects
                    if note
                      option(value=subject._id selected=(subject._id.toString()===note.subject._id.toString() ? 'selected' : false) ) #{subject.title}
                    else
                      option(value=subject._id) #{subject.title}
              </div>
            </div>
        td
          div.form-group
            <div class="form-row no-gutters">
              <div class="col">
                label(for='date' class="col-sm-2 col-form-label") Date:
              </div>
              <div class="col">
                input#date.form-control(type='date', placeholder='Date' name='date' required='true' class="form-control form-control-sm" value=(undefined===note ? '' : note.date_yyyy_mm_dd) )
              </div>
            </div>
      tr 
        td
          div.form-group
            input#topic.form-control(type='text', placeholder='Topic' name='topic' required='true' class="form-control form-control-sm" value=(undefined===note ? '' : note.topic) )
    </div>
    <div class='lefttoparea'>
      h5 keywords
      each keyword in note.keywords
        input#topic.form-control(type='text', placeholder='Keyword' name='keyword' required='false' class="form-control form-control-sm" value=(undefined===note ? '' : keyword) )
      <button type="button" class="btn btn-success btn-sm">Add</button>
    </div>
    <div class='leftmidarea'>
      h5 questions
      each question in note.questions
        input#topic.form-control(type='text', placeholder='Question' name='question' required='false' class="form-control form-control-sm" value=(undefined===note ? '' : question) )
      <button type="button" class="btn btn-success btn-sm">Add</button>
    </div>
    <div class='leftbottomarea'>
      h5 comments
      each comment in note.comments
        input#topic.form-control(type='text', placeholder='Comment' name='comment' required='false' class="form-control form-control-sm" value=(undefined===note ? '' : comment) )
      <button type="button" class="btn btn-success btn-sm">Add</button>
    </div>
    div.rightarea
      div.form-group
        textarea#lectureNote.form-control(type='textarea', placeholder='Lecture Notes' name='lectureNote' required='true' rows='20' class="form-control form-control-sm") #{undefined===note ? '' : note.lectureNote}
    div.bottombar
      div.form-group
        textarea#summary.form-control(type='textarea', placeholder='Summary' name='summary' required='true' class="form-control form-control-sm") #{undefined===note ? '' : note.summary}
    .keys
      button.btn.btn-primary(type='submit') Save

    if errors
      ul
        for error in errors
          li!= error.msg