extends layout

block content
  form(method='POST' action='')
    if note
      div(class="row gx-0")
        div(class="col-6")
          p Creation date:  #{note.creationDate_formatted}
        div(class="col-6 text-end")
          p Last updated: #{note.updateDate_formatted}
    div(class="row gx-0")
      input#noteid.form-control(type='hidden', name='noteid', required='true', value=(undefined===note ? '' : note._id))
      input#subjectid.form-control(type='hidden', name='subjectid', required='true', value=subjectid)
      input#topicid.form-control(type='hidden', name='topicid', required='true', value=topicid)
      input#subtopicid.form-control(type='hidden', name='subtopicid', required='true', value=subtopicid)
      input#imageUrl.form-control(type='hidden', name='imageUrl', required='false', value=(undefined===note ? '' : note.image))
      input#imageData.form-control(type='hidden', name='imageData', required='false', value='initial')
    div(class="border-bottom border-secondary")
      div(class="row gx-0")
        div(class="col-12")
          input#title.form-control(type='text', placeholder='Title' name='title' required='true' class="form-control form-control-sm" value=(undefined===note ? '' : note.title) )
    div(class="row gx-0")
      div(class="col-4 align-self-center")
        div(class="border-end border-secondary")
          div(class="row")
            div(class="col-12")
              textarea#keywords.form-control(type='textarea', placeholder='Keywords' name='keywords' required='false' rows='7' class="form-control form-control-sm") #{undefined===note ? '' : note.keywords}
          div(class="row")
            div(class="col-12")
              textarea#questions.form-control(type='textarea', placeholder='Questions' name='questions' required='false' rows='7' class="form-control form-control-sm") #{undefined===note ? '' : note.questions}
          div(class="row")
            div(class="col-12")
              textarea#comments.form-control(type='textarea', placeholder='Comments' name='comments' required='false' rows='7' class="form-control form-control-sm") #{undefined===note ? '' : note.comments}
      div(class="col-8")
        textarea#lectureNote.form-control(type='textarea', placeholder='Lecture Notes' name='lectureNote' required='true' rows='22' class="form-control form-control-sm") #{undefined===note ? '' : note.lectureNote}
    div(class="border-top border-secondary")
      div(class="row gx-0")
        div(class="col-12")
          textarea#summary.form-control(type='textarea', placeholder='Summary' name='summary' required='true' rows='4' class="form-control form-control-sm") #{undefined===note ? '' : note.summary}
    div(class="row gx-0" id='canvas-div')
      canvas(id='canvas')
      script(src="/javascripts/script.js" type="text/javascript")
    div(class="row gx-0")
      div(class="col-1")
        img(src="/images/blue_button.jpg" alt="Blue" width="32" height="32" id='blue_button')
      div(class="col-1")
        img(src="/images/red_button.jpg" alt="Red" width="32" height="32" id='red_button')
      div(class="col-1")
        img(src="/images/green_button.jpg" alt="Green" width="32" height="32" id='green_button')
      div(class="col-1")
        img(src="/images/black_button.jpg" alt="Black" width="32" height="32" id='black_button' style="border:1px solid black")
      div(class="col-1")
        img(src="/images/erase_button.jpg" alt="Erase" width="32" height="32" id='erase_button')
      div(class="col-1")
        div(class="row gx-0")
          img(src="/images/thin_width_button.jpg" alt="Thin" width="16" height="15" id='thin_width_button')
          img(src="/images/mid_width_button.jpg" alt="Mid" width="16" height="13" id='mid_width_button' style="border:1px solid black")
          img(src="/images/thick_width_button.jpg" alt="Thick" width="16" height="15" id='thick_width_button')
    .keys
      div(class="row mt-3 gx-0")
        div(class="col-3")
          button.btn.btn-primary.btn-sm(type='submit' id='save_button') Save
        div(class="col-3")
          a(class='btn btn-secondary btn-sm' href='/repo/' + subjectid + '/' + topicid + '/' + subtopicid + '/notes' role='button')  Cancel
        if note
          div(class="col-3")
            a(class='btn btn-danger btn-sm' href='/repo/' + subjectid + '/' + topicid + '/' + subtopicid + '/note/' + note._id + '/delete' role='button')  Delete


  if errors
    ul
      for error in errors
        li!= error.msg