extends layout

block content
  div(class="border-bottom border-dark")
    div(class="row")
      div(class="col-sm-12")
        <p>You have !{note_count} <strong>!{subject}</strong> notes</p>
  div(class="border-bottom border-dark")
    div(class="row")
      div(class="col-sm-4")
        p Topic
      div(class="col-sm-4")
        p Creation date
      div(class="col-sm-4")
        p Update date
      - note_list.sort(function(a, b) {let textA = a.topic.toUpperCase(); let textB = b.topic.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      each note in note_list
        div(class="col-sm-4")
          a(href=note.url) #{note.topic}
        div(class="col-sm-4")
          p #{note.creationDate_formatted}
        div(class="col-sm-4")
          p #{note.updateDate_formatted}