extends layout

block content
  <div class='topbar'>
    <div class='topbar d'>
      <div class='topbar e'>Subject: </div>
      <div class='topbar f'> Date: #{note.date_formatted}</div>
    </div>
    p #{note.topic}
  </div>
  <div class='lefttoparea'>
    h5 keywords
    each keyword in note.keywords
      p #{keyword}
  </div>
  <div class='leftmidarea'>
    h5 questions
    each question in note.questions
      p #{question}
  </div>
  <div class='leftbottomarea'>
    h5 comments
    each comment in note.comments
      p #{comment}
  </div>
  div.rightarea #{note.lectureNote}
  div.bottombar #{note.summary}
  div.keys
    table
      tr
        td
          a(class="btn btn-success btn-sm" href=note.url+"/update" role="button") Edit
        td
          a(class="btn btn-danger btn-sm" href=note.url+"/delete" role="button") Delete

