extends layout

block content
  div(class="border-bottom border-secondary")
    div(class="row gx-0")
      div(class="col-sm-12")
        p You have !{note_count} notes under !{subject_name}->!{topic_name}->!{subtopic_name}
  div(class="border-bottom border-secondary")
    div(class="row gx-0")
      div(class="col-sm-4")
        p Title
      div(class="col-sm-4")
        p Creation date
      div(class="col-sm-4")
        p Update date
      - note_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      each note in note_list
        div(class="col-sm-4")
          a(href=note.update_url) #{note.title}
        div(class="col-sm-4")
          p #{note.creationDate_formatted}
        div(class="col-sm-4")
          p #{note.updateDate_formatted}