extends layout

block content
  div.topic
    h6 Subject: #{subject.title}

    div(style='margin-left:20px;margin-top:20px')
      h4 Notes
      
      dl
      each note in subject_notes
        dt 
          a(href=note.url) #{note.topic}
        dd #{note.summary}

      else
        p This subject has no notes.
    hr
    p
      a(href=subject.url+'/delete') Delete subject
    p
      a(href=subject.url+'/update') Update subject